* {
    padding: 15px;
    border-style: hidden;
    font-weight: bold;
}

.d-q {
    background-color: green;
    color: white;
}

.d-a:hover {
    border-style: solid;
    border-color: red;
    border-width: 5px;
}